@import 'variables/reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  font-family: Inter, sans-serif;
}

.app {
  background-color: var(--background);
  color: var(--primary);
  min-height: 100vh;
}