.btn {
    color: var(--primary-foreground);
    background-color: var(--primary);
    border-radius: calc(var(--radius) - 2px);
    font-weight: 500;
    outline: none;
    cursor: pointer;
    border: 1px solid #e5e7eb;
}    

.size_s {
    padding: 0.5rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
}

.size_m {
    font-size: 20px;
}

.size_l {
    font-size: 30px;
}

.contained {
   &:hover {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.9;
   }
}

.outlined,
.clear {
    background-color: var(--background);
    color: var(--card-foreground)
}

.outlined {
    border-color: var(--input)
}

.clear {
    border: none;
}

.disabled {
    opacity: 0.6;
}

.fullWidth {
    width: 100%;
}


