.sidebar {
    position: relative;
    border-right: 1px solid var(--border);
    width: 11.25rem;
    height: 100vh;
    padding-top: 1rem;
    transition: width 0.15s;
}

.sidebarItem {
    padding-inline: 0.5rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.burgerMenu {
    cursor: pointer;
}

.sidebarItem {
    margin-top: 2rem;
}

.switchers {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.collapsed {
    width: 4rem;

    .logo {
        display: none;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sidebarItem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .switchers  {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

