.header {
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
}

.btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.btns a {
    text-decoration: none;
}