.item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--secondary-foreground);
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: calc(var(--radius) - 2px);
    transition: all 0.1s;
   
    &:hover {
        background-color: var(--secondary);
        transition: all 0.2s;
    }
}

.wrapper {
    padding-top: 0.25rem;
}

.active {
    background-color: var(--secondary);
}

.collapsed {
    p {
        display: none;
    }
}