.alternativeBtns {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-top: 1rem;
    gap: 1.5rem;
}

.alternative {
    margin: 1rem 0;
    text-transform: uppercase;
}

