.item_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.column_item {
    border: 1px solid var(--border);
    background-color: var(--card);
    border-radius: calc(var(--radius) + 2px);
    min-width: 15.625rem;
    height: 31.25rem;
    max-height: 31.25rem;
}

.title {
    cursor: auto;
    font-weight: 600;
}

.column_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.delete div button:last-child {
    color: var(--destructive);
}